= link_to t("clients.edit"), edit_client_path(current_client)
.api_key= current_client.api_key || t('clients.no_api_key')
.name= current_client.name
.email= current_client.email
.event_base_url= current_client.event_base_url || t('clients.no_event_base_url')