= content_for :javascript do 
  =javascript_include_tag "shCore", "shBrushJScript", "shBrushRuby", "shBrushVb"
  =stylesheet_link_tag "shCore", "shThemeDjango"

= content_for :head do 
  %h2.pull-left
    %i.icon-book
    How to use our API ?
.col-md-8
  / Widget
  .widget
    / Widget title
    .widget-head
      .pull-left Support
      .clearfix
    .widget-content
      / Widget content
      .padd
        .support-faq
          %h5=t(:filter)
          / Below line creates form
          #form
          %hr
          .clearfix
          / Lists
          %ol#slist
            / List #1
            %li
              / Title. Link title is used for filteration.
              %a{:href => "#"} Getting started
              / Para
              =simple_format(t('documentation.getting_started'),{}, wrapper_tag: "div")
            / List #2 and so on....
            %li
              %a{:href => "#"} Send a message
              %div
                =simple_format t('documentation.send_a_message')
                =render "pages/documentation/js/answer"
                =simple_format t('documentation.example')
                %strong In Javascript / JQuery
                =render "pages/documentation/js/send_a_message"
                %strong In Ruby on Rails
                = render "pages/documentation/ruby/send_a_message"
                %strong In VB.NET
                = render "pages/documentation/vb/send_a_message"
            %li
              %a{:href => "#"} Get the delivery reports of a message
              %div
                =simple_format(t('documentation.delivery_report'))
                =render "pages/documentation/js/answer_2"
                =simple_format t('documentation.example')
                %strong In Javascript / JQuery
                =render 'pages/documentation/js/get_a_message'
                %strong In Ruby On Rails
                = render "pages/documentation/ruby/get_a_message"
                %hr
                %br
                =simple_format(t('documentation.delivery_report_2'))

            %li
              %a{:href => "#"} Get the answers of a message
              %div
                =simple_format(t('documentation.answer'))
                =render "pages/documentation/js/answer_3"
                =simple_format(t('documentation.answer_2'))
            %li
              %a{:href => "#"} Use your own phones
              =simple_format(t('documentation.phones'))
      / Widget footer
      .widget-foot
        %p It has never been that simple !


.col-md-4
  / Widget
  .widget
    / Widget title
    .widget-head
      .pull-left Contact
      .clearfix
    .widget-content
      / Widget content
      .padd
        / Contact box
        .support-contact
          / Phone, email and address with font awesome icon
          %p=t(:contact_head)
          %p
            %i.icon-phone
            =t(:phone)
            %strong :
            = link_to "+33 (0) 6 49 85 50 69", "tel:+33649855069"
          %hr/
          %p
            %i.icon-envelope-alt
            =t(:email)
            %strong :
            = link_to "thomas@oxynum.fr", "mailto:thomas@oxynum.fr"
          %hr/
          %p
            %i.icon-home
            Address
            %strong :
            111 avenue Victor Hugo, 75116 Paris
          / Button
          %a.btn.btn-default{:href => "faq"} Check out FAQ

:javascript
  SyntaxHighlighter.defaults['auto-links'] = false;
  SyntaxHighlighter.defaults.toolbar = false;
  SyntaxHighlighter.all();